#container {
    position: absolute;
    left: 54%;
    top: 20%;
    max-width: 45vw;
    max-height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
}

#container_bg {
    background: url("../assets/Asset/Logo.png") no-repeat center/contain;
    width: 100%;
    height: 250px;
    z-index: 100000;
    margin-bottom: -25px;
}

#container_form {
    background: url("../assets/Asset/Login/login_user_bg.png") no-repeat center/contain;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    background-position: 0%;
}


.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    left: 0%;
    margin-right: 30px;
}

#container_form label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
    flex-shrink: 0;
    width: 100px;
    margin: 10px;
}

#container_form input[type="text"],
#container_form input[type="password"] {
    flex-grow: 1;
    padding: 10px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
}

#container_form input[type="submit"] {
    justify-content: center;
    /* width: 38%; */
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    background: url('../assets/Asset/ButtonAtlas_cuts/ButtonAtlas_cuts/image_25.png') no-repeat center / contain;
}