@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: fontgame;
    src: url(../font/j-juvanze-font/Juvanze-ovw9A.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-size: 100%;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

#responsive-canvas {
    width: 100%;
    height: auto;
    object-fit: contain;
}