@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: fontgame;
    src: url(../font/j-juvanze-font/Juvanze-ovw9A.otf);
}

body {
    overflow: hidden;
    max-width: 100vh;
}