#box {
    position: absolute;
    left: 55%;
    top: 18%;
    max-width: 40vw;
    max-height: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    /* Center items horizontally */
    justify-content: center;
}

#box_form {
    background-color: #FFF3E0;
    display: flex;
    width: 120%;
    flex-direction: column;
    padding: 7px;
    border:#e7811bb8 solid 10px;
    border-radius: 20px;
    margin-top:40px;
    transform: scale(1.3);
    transform-origin: center center;
}

#box_form label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
    flex-shrink: 0;
    width: 30%;
    margin: 5px;
    right:40px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;;
    width: 90%;

  
}

.form-row.row-1{
    padding:0.3em;

}

#box_form input[type="text"],
#box_form input[type="password"],
#box_form input[type="date"],
#box_form input[type="number"],
#box_form select
 {
    flex-grow: 1;
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    width: 90%;
}

#box_form input[type="submit"] {
    justify-content: center;
    padding: 10px;
    color: brown;
    font-weight: bold;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    background: url('../assets/Asset/ButtonAtlas_cuts/ButtonAtlas_cuts/image_25.png') no-repeat center / contain;
}

